html {
	/*background: #040a2b;*/
	background: #040a2b;
	background-image: radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 40px), radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 30px), radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 40px), radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

@font-face {
	font-family: 'optimanormal';
	src: url(optima_font/optima-webfont.woff2) format('woff2'), url(optima_font/optima-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

.hidden {
    display: none !important;
}

h2 {
	font-family: 'optimanormal';
	/**font-family: "Lato", "Open Sans";*/
	font-size: 4vw;
	text-align: center;
	padding-right: 5vw;
}

p {
	font-family: 'optimanormal';
	text-align: center;
}

.titleBar {
	background-image: url(images/quiz_banner.png);
	object-fit: cover;
	background-size: 100%;
	padding: 4vh 0 4vh 0;
	color: white;
	margin: 6vh 0 6vh 0;
	width: 100%;
	text-align: center;
}

.titleText {
	background-color: white;
	opacity: 0.8;
	color: #040a2b;
	width: 80%;
	z-index: 2;
	display: inline-block;
	text-align: right;
	border-radius: 4vh;
	word-wrap: break-word;
	margin-right: 2vh;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.titleText img {
	opacity: 0.5;
}

.titleText h3 {
	color: #909090;
	text-align: right;
	padding-right: 6vw;
	margin: 0;
	/**font-family: "Lato", "Open Sans";*/
	font-family: 'optimanormal';
}

.titleText p {
	padding-right: 6vw;
	font-size: 2vw;
	/**font-family: "Lato", "Open Sans";*/
	font-family: 'optimanormal';
}

.grid {
	width: 100%;
	margin: 1vh 0 1vh 0;
	align-items: center;
}

.input-hidden {
	position: absolute;
	opacity: 0;
}

input[type=radio]:checked+label>img {
	border: 1vw solid#fff;
	box-shadow: 0.5vh 0.5vh 0.1vmax #FFFFFF;
}

.questionBanner {
	font-family: 'optimanormal';
	background-color: #fff;
	/* padding: 1vh 0 1vh 2vh; */
	/**margin: 4vh 0 4vh 4vh;*/
	width: 100%;
	text-align: center;
	font-size: 6vw;
	display: inline-block;
	color: #040a2b;
	overflow-wrap: break-word;
}

.sectionWrapper {
	top: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: .5rem;
	grid-row-gap: .5rem;
	bottom: 0;
	margin: auto;
	/* align-content: space-between; */
	/* max-width: 100vw; */
	height: 328px;
	padding: 2vw 0 2vw 0;
}

.sections {
	/* display: flex; */
	/* padding: 1vw; */
	/* margin: auto; */
	/* width: 20vw; */
	height: 20vw;
}

.sections img {
	/* margin: auto; */
	/* max-width: 30vw; */
	display: flex;
	justify-content: space-between;
	height: 162%;
	/*box-shadow: 1vh 1vh 0.2vmax #FFFFFF;*/
	object-fit: cover;
	width: 100%;
}

figure {
	height: 75px;
	margin: 0;
	text-align: center;
	/* border-radius: 10%; */
	margin: auto;
}

figcaption {
	color: black;
	font-family: optimanormal;
	font-size: 1.1rem;
	padding: 5px;
	background-color: white;
}

a:link, a:visited {
	background-color: #040a2b;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	/*display: inline-block;*/
	display: flex;
	justify-content: center;
}

a:hover, a:active {
	background-color: #040a2b;
}

.sections:hover img {
	opacity: 0.3;
	box-shadow: 1vh 1vh 0.2vmax #fff;
}

.result {
	display: flex;
	margin: auto;
	max-width: 100%;
	justify-content: center;
}

.resultImgBlock img {
	object-fit: cover;
	width: 80vw;
	height: auto;
	display: flex;
}

a {
	text-align: center;
}

@media only screen and (max-width: 400px) {
	.topNav h3 {
		padding: 5vh 2vh 0vh 0vh;
	}
}

@media only screen and (max-width: 600px) {
	h3 {
		font-size: 100%;
	}
	.logoText {
		font-size: 150%;
		padding: 0 0.3vh 0.3vh 0.3vh;
	}
	.topNav {
		font-size: 50%;
	}
	.titleBar {
		margin: 6vh 0 2vh 0;
	}
}